html,
body {
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #4a4a4a;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container .item {
  width: 260px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.container label{
  width: 100%;
  font-size: 3rem;
}

.container .item svg {
  height: 60px;
  width: 80px;
}

.container .item.on label{
  color: black;
}

.container .item.off label {
  color: gray;
}

.container .item.off svg .inner{
  fill: gray;
  transform: translate(0px, 0px);
  transition: all 0.2s;
}

.container .item.on svg .inner{
  fill: green;
  transform: translate(30px, 0px);
  transition: all 0.2s;
}

.container .item.on svg .outer{
  fill: green;
}